<%= form_with model: question do |form| %>
  <div class="mb-3">
    <%= form.label :body, "Текст вопроса", class: "form-label" %>
    <%= form.text_area :body, class: "form-control", rows: "5" %>
  </div>
  <div class="d-grid">
    <%= form.submit "Сохранить", class: "btn btn-outline-success" %>
  </div>
<% end %>
