<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% @questions.each do |question| %>
        <div class="card mb-3">
          <div class="card-body">
            <%= render 'question', question: question %>
            <%= link_to 'Подробнее', question_path(question.id), class: 'btn btn-secondary' %>
          </div>
        </div>
      <% end %>
      <div class="card" style="margin-top: 20px">
        <div class="card-body">
          <%= render partial: "questions/form", locals:{ question: @questions_form} %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">

</div>
