<div class="flex items-center justify-center h-screen bg-gray-100" style="margin-left: 37%; margin-top: 5%;">

  <div class="card p-3" style="width: 400px;">
    <h2>Создать вопрос</h2>

    <%= render 'form', question: @question, users: @users %>
  </div>

</div>

