<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= @question.body %></h5>
          <a href="#" class="btn btn-dark">Ответить</a>
          <%= link_to 'Изменить вопрос', edit_question_path(@question), class: "btn btn-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>